<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="jumbotron">
    <div class="container">
      <h1 class="text-uppercase">there</h1>
      <p class="subheading">and back again</p>
    </div>
  </div>

  <div class="container">
    <div class="row info">

      <div class="col-sm-4">
        <div class="vertical-content-small border-top" >
          <%= image_tag "sf-couple.jpg" %>
          <div class="text pull-right">
            <h2>About Us</h2>
            <p>This is the story all about how, Liz and Nathan traveled the world around.</p>
            <p class="text-center"><%= link_to raw("go &#x2192;"), posts_path %></p>
          </div>
        </div>
        <div class="vertical-content-small border-top">
          <%= image_tag "trees.jpg" %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="horizontal-content-large">
          <%= image_tag "cyclist.jpg" %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="horizontal-content-small border-top" >
          <%= image_tag "thailand-bw.jpg" %>
        </div>
        <div class="vertical-content-small border-top">
          <%= image_tag "beach-bus.jpg" %>
        </div>
      </div>

    </div>
  </div>

</body>
</html>

