<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
  <%= render partial: "layouts/header" %>

  <main>

  <section class="homepage-hero">
    <div class="homepage-hero-container">
      <div class="homepage-hero-content">
        <h2 class="homepage-hero-headline">Hello World</h2>

        <div class="homepage-hero-copy">
          It's Liz and Nathan.
        </div>

      </div>
    </div>
  </section>

 
  <div class="container blog-preview-section">
    <div class="homepage-section-header">Join us</div>
    <div id="#preview-content">

      <div class="row">

        <% @posts.each do |post| %>
          <div class="pin col-xs-12 col-sm-6">
            <div class="preview-image" style="background-image: url(<%= image_url "bay-bridge.jpg" %>)"><h2><%= post.title %></h2><p><%= post.created_at.strftime("%d %B %Y") %></p></div>
            <p>
              <%= post.body %>
            </p>
          </div>
        <% end %>

      <div class="col-xs-12 text-center">
        <a class="btn btn-special" href="<%= posts_path %>">continue journey</a>
      </div>
    </div><!-- #preview-content -->
  </div>
  
  </main>
  <%= render partial: "layouts/footer" %>
</body>
</html>

