<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_BROWSER_API_KEY']%>">
    </script>

  <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body id="home">
  <%= render partial: "layouts/header" %>

  <main>

  <section class="homepage-hero">
    <div class="homepage-hero-container">
      <div class="homepage-hero-content">
        <h2 class="homepage-hero-headline">Hello World</h2>

        <div class="homepage-hero-copy">
          It's Liz and Nathan.
        </div>

        <div id="map-canvas"></div>

      </div>
    </div>
  </section>

 
  <div class="container blog-preview-section">
    <div class="homepage-section-header clickable">Join us<br /><i class="fa fa-angle-down"></i></div>
    <div id="#preview-content">

      <div class="row">

        <% @posts.each do |post| %>
          <%= link_to post_url(post) do %>
            <div class="pin col-xs-12 col-sm-6">
              <div class="preview-image" style="background-image: url(<%= image_url "bay-bridge.jpg" %>)"><h2><%= post.title %></h2><p><%= post.created_at.strftime("%d %B %Y") %></p></div>
              <p>
                <%= post.body %>
              </p>
            </div>
          <% end %>
        <% end %>


      <div class="col-xs-12 text-center">
        <a class="btn btn-special" href="<%= posts_path %>">continue journey</a>
      </div>
    </div><!-- #preview-content -->
  </div>
  
  </main>
  <%= render partial: "layouts/footer" %>
</body>
</html>

