<!DOCTYPE html>
<html id="wedding">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <title>Ginger and the Cyclist - Liz Hubertz and Nathan Arnold Travel Blog</title>
  <meta name="description=" content="Follow Liz and Nathan as they travel the globe in search of exceptional coffee and coding prowess." >
  <%= stylesheet_link_tag    'wedding', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60258450-1', 'auto');
    ga('send', 'pageview');
  </script>

    <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false" type="text/javascript"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
  
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div class="flash">
    <%= render partial: "layouts/flash" %>
  </div>
  

    <section id="intro" class="intro-section">
      <div class="overlay"></div>
      <div class="container">
        <div class="row header">
          <div class="col-lg-12">
            <h2 class="text-uppercase">the</h2>
            <h1 class="man text-uppercase">life arnold</h1>
            <p class="mbn">with</p>
            <h2 class="mtn text-uppercase">liz & nathan</h2>
          </div>
        </div>
      </div>

      <%= render partial: "layouts/wedding_header" %>
    </section> 


    <section id="cast" class="cast-section">
      <div class="container">

        <div class="row text-center credits">
          <div class="col-sm-12">
            <h2 class="cursive">starring</h2>
          </div>
        </div>

        <div class="row credits">
          <div class="col-sm-offset-1 col-sm-4">
             <div class="row">
              <div class="col-sm-12 text-center center-block">
                <h2>NATHAN ARNOLD AS</h2>
                <p><%= image_tag "wedding/nathan_headshot.jpg", class: "img-circle headshot img-responsive center-block" %></p>
                <h2 class="role">THE GROOM</h2>
              </div>
            </div>
          </div>

          <div class="col-sm-2 text-center">
            <h1 id="ampersand">&</h1>
          </div>

          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12 text-center center-block">
                <h2>ELIZABETH HUBERTZ AS</h2>
                <p><%= image_tag "wedding/liz_headshot_sunglasses.jpg", class: "img-circle headshot img-responsive center-block" %></p>
                <h2 class="role">THE BRIDE</h2>
              </div>
            </div>
          </div>
        </div><!-- end bride and groom photos row -->

        <div class="row text-center credits mvxl">
          <div class="col-sm-12">
            <h2 class="cursive">also featuring</h2>
          </div>
        </div>

        <div class="row credits family mvxl">

          <div class="col-sm-2 col-sm-offset-1">
             <div class="row">
              <div class="col-sm-12 text-center center-block">
                <h2>JANET<br /> DEININGER</h2>
                <p><%= image_tag "wedding/jan_headshot.jpg", class: "img-circle headshot img-responsive center-block" %></p>
                <h2>MOTHER OF THE BRIDE</h2>
              </div>
            </div>
          </div>

           <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

          <div class="col-sm-2">
             <div class="row">
              <div class="col-sm-12 text-center center-block">
                <h2>LORETTA<br/> DEININGER</h2>
                <p><%= image_tag "wedding/lori_headshot.jpg", class: "img-circle headshot img-responsive center-block" %></p>
                <h2>SISTER OF THE BRIDE</h2>
              </div>
            </div>
          </div>

          <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

          <div class="col-sm-2">
             <div class="row">
              <div class="col-sm-12 text-center center-block">
                <h2>HENRY<br />DEININGER</h2>
                <p><%= image_tag "wedding/henry_headshot2.jpg", class: "img-circle headshot img-responsive center-block" %></p>
                <h2>A GOOD DOG</h2>
              </div>
            </div>
          </div>

          <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

          <div class="col-sm-2">
             <div class="row">
              <div class="col-sm-12 text-center center-block">
                <h2>MICHELLE</br> ARNOLD</h2>
                <p><%= image_tag "wedding/michelle_headshot.jpg", class: "img-circle headshot img-responsive center-block" %></p>
                <h2>MOTHER OF THE GROOM</h2>
              </div>
            </div>
          </div>

          <i class="visible-xs fa fa-bicycle pvl text-center center-block"></i>

          <div class="col-sm-2">
             <div class="row person">
              <div class="col-sm-12 text-center center-block">
                <h2>EMILY</br> WELCH</h2>
                <p><%= image_tag "wedding/emily_headshot.jpg", class: "img-circle headshot img-responsive center-block" %></p>
                <h2>SISTER OF THE GROOM<h2>
              </div>
            </div>
          </div>

        </div><!-- end family -->

      </div>
    </section>

    <section id="moonrisekingdom-quote" class="quote-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <!-- <h3 class="futura">"I admit we knew we'd get in trouble. That part's true. We knew people would be worried, and we still ran away, anyway. But something also happened, which we didn't do on purpose. When we first met each other, something happened to us."</h3> -->
          </div>
        </div>
      </div>
    </section>

    <section id="story" class="story-section">
      <div class="container">

        <div class="row chapter-slideshow">
          <div class="col-sm-8 col-sm-offset-2">
            <div id="carousel-example-generic" class="carousel slide" data-keyboard="true" data-interval="false">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-automobile fa-stack-1x fa-inverse"></i>
                </li>

                <li data-target="#carousel-example-generic" data-slide-to="3" class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <%= image_tag "wedding/CHAPTER1.jpg", class: "img-responsive center-block" %>
                  <div class="chapter">
                    <p>Nathan and Elizabeth meet on a bike ride in Decatur, Indiana (thank for the invite, Uncle Tom!) on the last Saturday in June 2010. In true Wellesley fashion, Liz gives Nathan her number - not the other way around.</p> 
                    <p>Liz proceeds to wreck her moped on the way to Nathan’s apartment for the first time. She shows up at his doorstep bleeding profusely, and they instantly fall in love.</p>
                    <p>They count that summer as one of the best in their lives, knowing their time together was totally worth almost getting fired and failing organic chemistry.</p>
                    <p>They promise to travel the world together someday as they emark on 1 year of angsty long-distance and late night train rides to Boston.</p>
                  </div>
                </div>
                <div class="item">
                  <%= image_tag "wedding/CHAPTER2.jpg", class: "img-responsive center-block" %>
                  <div class="chapter">
                    <p>Nathan and Elizabeth graduate in 2011, ready to start their lives as fabulous yuppie Millenials in San Francisco, California.</p>

                    <p>Elizabeth scores a sweet job, and Nathan tags along, looking forward to his new life as a kept San Francisco house husband. The End.</p>
                    <p>Just kidding. Nathan and Liz move in with family friends Phyllis and Gordon while Nathan works his ass off, landing his first job as an iOS developer at an impossibly hip startup company.</p>
                    <p>They move into their first real adult apartment, and there is much rejoicing, drinking of coffee, and paying of bills.</p>
                  </div>
                </div>


                <div class="item">
                  <%= image_tag "wedding/CHAPTER3.jpg", class: "img-responsive center-block" %>
                  <div class="chapter">
                    <p>Elizabeth and Nathan spend almost 4 years causing a general ruckus around San Francisco. The city petitions for their removal, and they rebel by dancing down Market Street in banana suits at minimum twice a year.</p>

                    <p>Nathan swiftly scales the ranks of the Startup Scene in SF and becomes known for catchphrases such as, "are you really brewing a Chemex with that grind?" and "Eugh, these recruiters are so needy."</p>

                    <p>Inspired by Nathan's hipster prowess and determined to regain her position as breadwinner, Liz picks up programming and watercolors. Nathan and Elizabeth eat lots of tacos and ride their bikes every day.</p>
                    <p>Clearly it was time for a change.</p>
                  </div>
                </div>

                <div class="item">
                  <%= image_tag "wedding/CHAPTER4.jpg", class: "img-responsive center-block" %>
                  <div class="chapter">
                    <p>Fed up with their glorious lives in SF and suffering from a recurring bout of Millenial angst, Nathan and Elizabeth give up their rent control apartment and sell most of their worldly posessions.</p>
                    <p>After learning and growing through five years of epic adventures, they fulfill a promise made way back that first summer. They jet off in pursuit of a global education, in what will be the first of many (they hope) world trips.</p>
                    <p>And finally, after years of engagement and months of lying to judgemental religious foreigners about their relationship status (<i>Of course we're married! Why else would we have requested the single bed bungalow!</i>), they are proudly becoming The Arnolds.</p>
                  </div>
                </div>

              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div><!-- end carousel -->

          </div>
        </div><!-- end chapter-slideshow -->

      </div>
    </section>

    <section id="moonrisekingdom-quote" class="quote-section">

    </section>

    <section id="when-and-where" class="when-and-where">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">

            <div class="invitation center-block text-center">
              <%= image_tag "wedding/fort-wayne-postcard.jpg", class: "img-responsive center-block pbxl" %>

              <p>JUNE 25, 2016</p>
              <h1 class="cursive">Location Coming Soon</h1>
              <p class="pvm">FORT WAYNE, IN</p>

            </div>

          </div>
        </div>

      </div>
    </section>

    <section class="quote-section"></section>

    <section id="what" class="guide">
      <div class="container">
        <div class="row mbl">
          <div class="col-lg-12 text-center">
              <h3 class="text-uppercase">Liz & Nathan's</h3>
              <h1 class="cursive">Hipster Guide to Fort Wayne</h1>
          </div>
        </div>

        <div class="row mbl" id="filters">
          <div class="col-lg-12 text-center">
            <ol class="list-unstyled list-inline">
              <li data-filter="food">FOOD <i class="fa fa-cutlery"></i></li>
              <li data-filter="todo">STUFF TO DO <i class="fa fa-bicycle"></i></li>
              <li data-filter="drink">DRINKS <i class="fa fa-beer"></i></li>
              <li data-filter="veg">VEG-ISH <i class="fa fa-leaf"></i></li>
              <li data-filter="other">OTHER <i class="fa fa-rocket"></i></li>
            </ol>
          </div>
        </div>

        <div class="row" id="places_container">
          <div class="food drink place col-xs-6 col-sm-4 text-center">
            <p class="ptm">our first date</p>
            <h2>J K O'Donnell's</h2>
            <p>Irish food & booze with love</p>
          </div>

          <div class="food drink place col-xs-6 col-sm-4 text-center">
            <p class="ptm">super nachos made of crack</p>
            <h2>Henry's</h2>
            <p>beware the waitress in tie dye</p>
          </div>

          <div class="drink place col-xs-6 col-sm-4 text-center">
            <p class="ptm">if you put creamer in this coffee</p>
            <h2>Fortezza</h2>
            <p>you are uninvited</p>
          </div>

          <div class="food drink place col-xs-6 col-sm-4 text-center">
            <p class="ptm">cheap pizza and beer</p>
            <h2>Pint & Slice</h2>
            <p>need i say more</p>
          </div>

          <div class="food place col-xs-6 col-sm-4 text-center">
            <p class="ptm">fort wayne's famous</p>
            <h2>Coney Island</h2>
            <p>order a coney & glass bottle coke</p>
          </div>

          <div class="food place col-xs-6 col-sm-4 text-center">
            <p class="ptm">expensive food, cool building</p>
            <h2>Oyster Bar</h2>
            <p>so it's got that going for it</p>
          </div>

          <div class="drink place col-xs-6 col-sm-4 text-center">
            <p class="ptm">hippies, yoga, coffee</p>
            <h2>Firefly Coffee</h2>
            <p>and sometimes interperative dance</p>
          </div>

          <div class="todo place col-xs-6 col-sm-4 text-center">
            <p class="ptm">do you have kids?</p>
            <h2>Science Central</h2>
            <p>go anyway</p>
          </div>

          <div class="todo place col-xs-6 col-sm-4 text-center">
            <p class="ptm">the peacocks</p>
            <h2>FW Children's Zoo</h2>
            <p>are calling to me</p>
          </div>

          <div class="drink place col-xs-6 col-sm-4 text-center">
            <a href="http://www.brassrailfw.com/" target="_blank">
              <p class="ptm">$3 mason jars of PBR</p>
              <h2>the brass rail</h2>
              <p>helps you forget the smell of pee</p>
            </a>
          </div>

          <div class="food veg place col-xs-6 col-sm-4 text-center">
            <a href="http://www.bmb-1.com/" target="_blank">
              <p class="ptm">step 1: receive noodles</p>
              <h2>Banh Mi Barista</h2>
              <p>step 2: smother in sirracha</p>
            </a>
          </div>

          <div class="food place col-xs-6 col-sm-4 text-center">
            <p class="ptm">bibimbap is life</p>
            <h2>Seoul Garden</h2>
            <p>not for the lame of heart</p>
          </div>

          <div class="food veg place col-xs-6 col-sm-4 text-center">
            <a href="http://friendlyfox.org/" target="_blank">
              <p class="ptm">for the gluten free weirdo</p>
              <h2>Friendly Fox</h2>
              <p>in all of us</p>
            </a>
          </div>

          <div class="food veg place col-xs-6 col-sm-4 text-center">
            <a href="http://www.3riversfood.coop/" target="_blank">
              <p class="ptm">it's like whole foods</p>
              <h2>3 Rivers Co-op</h2>
              <p>for hippies</p>
            </a>
          </div>

        </div>

      </div>
    </section>

    <section class="quote-section"></section>

    <section id="rsvp" class="rsvp-section">
      <div class="container">
        <div class="row header">
          <div class="col-lg-12">
              <h2>RSVP</h2>
              <h1 class="mvl">Please Circle ONE</h1>
              <h2>before April 25, 2016</h2>
          </div>
        </div>

         <div class="row rsvp-buttons mtxl">
          <div class="col-xs-6 col-sm-3 col-sm-offset-3">
            <a href="#yes" aria-controls="yes" role="tab" data-toggle="tab">YES</a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#no" aria-controls="no" role="tab" data-toggle="tab">NO</a>
          </div>
        </div>

        <div class="row mvxl">

           <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="yes">

              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <%= form_tag do %>
                    <h2 class="cursive">Get ready for adventure!</h2>

                    <div class="form-group">
                      <%= text_field_tag :name, "", placeholder: "Your Name", class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= text_field_tag :email, "", placeholder: "Your Email", class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= submit_tag "Enthusiastically Attend", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div> 
            </div>
            <div role="tabpanel" class="tab-pane" id="no">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <%= form_tag do %>
                    <h2 class="cursive">We'll miss you!</h2>
                    
                    <div class="form-group">
                      <%= text_field_tag :name, "", placeholder: "Your Name", class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= text_field_tag :email, "", placeholder: "Your Email", class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= submit_tag "Regretfully Decline", class: "btn btn-primary" %>
                    </div>
                  <% end %> 
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>



    <section id="faq" class="faq">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      OMG what do I wear!?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>Wear whatever makes you feel like a fabulous dancing party animal.</p>
                    <p>Extra cake for anyone who shows up in a banana suit.</p>
                    <p>No cake for anyone who is physically able and chooses not to dance. For shame!</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Where are you registered? 
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p>First, your presence at our wedding is gift enough. Elizabeth's dowry has already been paid by her generous and loving mother, who has set aside 8 cows, 12 sheep, 10 bushels of grain, 5 chickens, and 20 sacks of flour, which Nathan’s family has happily received as an acceptable bride price.</p>
                    <p>Second, as many of you know, Nathan and I are actively pursuing a life of homeless vagabondry. If we are not homeless vagabonds at this exact moment, we are most likely living in some tiny-ass apartment in some big-ass city and may or may not own a car. That means any beautiful blenders, high-tech rice makers, or fancy flatware would need to be stored for up to a decade in our mothers’ houses, which we have been told is unacceptable due to common sense and the recent influx of barnyard animals. (Dowries are such a drag!)</p>
                    <p>That said, if you’re awesome at gift-wrapping and/or feel totally awkward showing up empty handed (I get it, my mom is a die hard gift-giver), we will always appreciate love letters, cards, homemade gifts, or possibly booze.* We promise to send you a love letter in return.</p>
                    <p>*Note if you choose to gift booze, Nathan will judge you swiftly and harshly on your taste. I, Liz, hereby take no responsibility and will give no hints on his possible preferences, lest I be judged on your behalf. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      I see Henry is a groomsman. Can my dog attend?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>
                      Unfortunately, we are big liars and will have to break it to Henry last-minute that he can't come, either. We had to put him in the bridal party, because he thinks he's people.
                    </p>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>


    <section class="quote-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <p class="cursive mam text-headers-small">this website was made with love by the bride</p>
          </div>
        </div>
      </div>
    </section>


</body>
</html>