<div class="row">
  <% @albums.each do |album| %>
    <%= link_to album_url(album) do %>
      <div class="pin col-xs-12 col-sm-6">
        <div class="preview-image" style="background-image: url(<%= image_url album.cover_photo_url %>)"><h2><%= album.title %></h2><p><%= album.created_at.strftime("%d %B %Y") %></p></div>
        <p>
          <%= album.description %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row center-block text-center">
  <%= will_paginate @albums, renderer: BootstrapPagination::Rails %>
</div>

<% if user_signed_in? %>
  <%= link_to 'New album', new_album_path %>
<% end %>