<div class="row" id="albums">

  <div class="col-sm-12 header text-center">
    <h1><%= @album.title %></h1>

    <p class="body">
      <%= simple_format @album.description %>
    </p>
    <p class="date"><%= @album.created_at.strftime("%d %B %Y") %></p>
  </div>

  
  <div class="row">
    <% @album.photos.each do |photo| %>
      <div class="col-xs-3">
        <div class="photo" style="background-image: url('<%= photo.upload(:medium) %>');">
        </div>
      </div>
    <% end %>
  </div>

</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_album_path(@album) %>
<% end %>