<div class="row">

  <div class="col-sm-12 header">
    <%= link_to raw('&#x2190; Back to all albums'), albums_path, class: "back" %>
    <h1><%= @album.title %></h1>
    <p class="date"><%= @album.created_at.strftime("%d %B %Y") %></p>
  </div>

  
    <% @album.photos.each do |photo| %>
      <div class="col-sm-6 image">
        <%= image_tag photo.url, class: "img-responsive" %>
      </div>
    <% end %>

  <div class="col-sm-12 body">
    <%= simple_format @album.description %>
  </div>

</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_album_path(@album) %>
<% end %>
