<% content_for :title do %><%= @album.title %><% end %>
<% content_for :description do %><%= truncate((strip_tags @album.description), length: 100) %><% end %>

<div class="row" id="albums">

  <div class="col-sm-12 header text-center">
    <h1><%= @album.title %></h1>

    <p class="body">
      <%= simple_format @album.description %>
    </p>
    <p class="date"><%= @album.created_at.strftime("%d %B %Y") %></p>
  </div>

  
  <div class="row">
    <% @album.photos.each_with_index do |photo, index| %>
      <div class="col-sm-3">
        <img class="photo center-block" src="<%= photo.image.small %>" data-toggle="modal" data-target="#myModal" data-image-large="<%= photo.image.large %>" data-index="<%= index %>"/>
      </div>
    <% end %>
  </div>

</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_album_path(@album) %>
<% end %>

<!-- Modal -->
<div class="modal image-lightbox-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body text-center center-block">
        <%= image_tag @album.photos.first.image.large, id: "lightbox-image", class: "img-responsive" %>

        <!-- <button type="button" id="next-photo" data-index="0" class="next-right"><i class="fa fa-angle-right"></i></button> -->
      </div>

    </div>
  </div>
</div>