<h1>Upload photos</h1>


<% albums_array = Album.all.map{ |album| [album.title, album.id] } %>
<%= select_tag(:album_id, options_for_select(albums_array), class: "form-control") %>

<%= s3_uploader_form callback_url: photos_url,
  id: "s3_uploader",
  callback_param: "photo[direct_upload_url]",
  expiration: 24.hours.from_now.utc.iso8601,
  max_file_size: 100.megabytes do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>



<div id="uploads_container"></div>

<script id="template-upload" type="text/x-tmpl">
<div id="upload_{%=o.unique_id%}" class="upload">
  <h5>{%=o.name%}</h5>
  <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<%= link_to 'Back', photos_path %>
<%= link_to 'Create a new album', new_album_path %>

<!-- -->