<%= form_tag("email_post", method: "post", remote: true, id: "email_post") do %>
  <%= hidden_field_tag :id, @post.id %>

  <div class="field form-group">
    <%= label_tag :from, "From (your email)" %>
    <%= text_field_tag :from, "", :size => "40", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= label_tag :to, "To (your friend's email)" %>
    <%= text_area_tag :to, "", cols: 45, rows: 3, class: "form-control" %>
    <em>Enter multiple emails by separating them by a comma. Example: liz@lizhubertz.com, nathan@lizhubertz.com</em>
  </div>

  <div class="field form-group">
    <%= label_tag :message, "Your Message" %>
    <%= text_area_tag :message, "Read Liz and Nathan's post '#{@post.title}' here - #{post_url(@post)}", cols: 45, rows: 8, class: "form-control" %>
  </div>

  <div class="center-block form-group">
    <%= submit_tag "Send Email", class: "btn btn-success" %>
  </div>
<% end %>
