  <% @posts.each do |post| %>
    <%= link_to post_url(post) do %>
      <div class="pin col-xs-12 col-sm-6">
        <div class="preview-image" style="background-image: url(<%= image_url "bay-bridge.jpg" %>)"><h2><%= post.title %></h2><p><%= post.created_at.strftime("%d %B %Y") %></p></div>
        <p>
          <%= post.body %>
        </p>
      </div>
    <% end %>
  <% end %>


<!--   <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= simple_format post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->


<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
