<div class="row">
  <% @posts.each do |post| %>
    <%= link_to post_url(post) do %>
      <div class="pin col-xs-12 col-sm-6">
        <div class="preview-image" style="background-image: url(<%= image_url "bay-bridge.jpg" %>)"><h2><%= post.title %></h2><p><%= post.created_at.strftime("%d %B %Y") %></p></div>
        <p>
          <%=strip_tags post.body %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row center-block text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>