<% content_for :title do %><%= @post.title %><% end %>
<% content_for :description do %><%= truncate((strip_tags @post.body), length: 100) %><% end %>

<div class="row">

  <div class="col-sm-12 header">
    <h1><%= @post.title %></h1>
    <p class="date"><%= @post.created_at.strftime("%d %B %Y") %></p>
  </div>

  <div class="col-sm-12 body">
    <%= simple_format @post.body %>
  </div>

  <div class="col-sm-12 text-center">
    <%= link_to raw('&#x2190; Back to all posts'), posts_path, class: "back" %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
